html,
body {
    padding: 0;
    margin: 0;
    color: #2d3748;
    overflow-x: hidden;
}

html,
body,
h2 {
    font-family: 'Lato', sans-serif;
}

a {
    /* color: #444e86; */
    color: inherit;
    transition: opacity 0.15s ease;
}

a:hover {
    opacity: 0.75;
}

a:focus-visible,
button:focus-visible {
    outline-color: #ea6036;
    outline-width: 0.2rem;
    outline-style: solid;
}

h1,
h3,
h4 {
    font-family: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
}

.fade-in-load {
    will-change: opacity, transform;
    animation: fadeIn 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(2.5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* For accessibiity */
@media (prefers-reduced-motion) {
    .fade-in-load {
        animation: none;
    }
}


.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

/* Recharts overrides */
.stacked-bar-chart .recharts-cartesian-axis-tick-value {
    display: none;
}

.years-bar-chart .recharts-legend-wrapper {
    bottom: -20px !important;
}

.recharts-cartesian-axis .recharts-text.recharts-label tspan {
    font-size: 1rem;
}

.recharts-wrapper {
    margin: 0 auto;
}
