html,
body {
    padding: 0;
    margin: 0;
    color: #2D3748;
}

html,
body,
h2 {
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    /* color: #444e86; */
    color: inherit;
    transition: opacity 0.15s ease;
}

a:hover {
    opacity: 0.75;
}

a:focus-visible, button:focus-visible {
    outline-color: #EA6036;
    outline-width: 0.2rem;
    outline-style: solid;
}

h1,
h3,
h4 {
    font-family: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

/* Recharts overrides */
.stacked-bar-chart .recharts-cartesian-axis-tick-value {
    display: none;
}

.years-bar-chart .recharts-legend-wrapper {
    bottom: -20px !important;
}

.recharts-cartesian-axis .recharts-text.recharts-label tspan {
    font-size: 1rem;
}